mat-form-field {
    font-size: large;
    width: 90%;
}

h2 {
    color : rgb(247, 120, 62);
}

.spacer {
    flex: auto;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}